<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
   
</head>

<body>
    <script src="main.js"></script>
    <div class="vid-container" >
        <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
            <source src="https://muhilanorg.online/codewith_muhilan/Bg/2.mp4" type="video/webm">
        </video>
        <form id="login" class="inner-container" @submit.prevent="login">
            <div class="box">
                <h1>Login</h1>
                <input type="text" id="username" v-model="username" placeholder="Username" required>
                <input type="password" id="password" v-model="password" placeholder="Password" required>
                <button type="submit">Login</button>
                <p>Not a member? <span>Sign Up</span></p>
                <p v-bind:if="error" class="error-message">{{ error }} </p>
            </div>
        </form>
    </div>
</body>

</html>